<!DOCTYPE html>
<html>
  <head>
    <title>Maze Generator</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
    <script src="javascripts/scripts.js"></script>
    <script src="javascripts/cells.js"></script>
    <script src="javascripts/draw.js"></script>
    <script src="javascripts/mazeGen.js"></script>
    <script src="/jquery/jquery.js"></script>
  <head>
  <body>
    <label>Dificultad</label>
    <select id="dificultad"/>
      <option value="7">Fácil</option>
      <option value="16">Medio</option>
      <option value="22">Difícil</option>
      <option value="30">Boss</option>
    </select>
    <button onclick="init();">Generar Maze</button>
    <br>
    <br>
    <canvas id="canvas">
    </canvas>
  <body>
</html>
