<!DOCTYPE html>
<html>
  <head>
    <title>Maze Generator</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
    <script src="javascripts/controller.js"></script>
    <script src="javascripts/model.js"></script>
    <script src="javascripts/draw.js"></script>
    <script src="javascripts/mazec.js"></script>
    <script src="/jquery/jquery.js"></script>
  <head>
  <body onload="initEvents();">
    <label>Dificultad</label>
    <button id="tipojuego">Tipo de Juego Remoto/Local</button>
    <select id="dificultad"/>
      <option value="7">Fácil</option>
      <option value="16">Medio</option>
      <option value="22">Difícil</option>
      <option value="30">Boss</option>
    </select>
    <button id="mazeG">Generar Maze</button>
    <br>
    <br>
    <button id='mongoPost'> Mongo Post </button>
    <button id='mongoGet'> Mongo Get </button>
    <input type="text" id="field" disabled="true"></input>
    <canvas id="canvas">
    </canvas>
    <button id="mazeSolve">Generar Solucion</button>
  <body>
</html>
