<!DOCTYPE html>
<html>
  <head>
    <title>Maze Generator</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
      <script src="javascripts/controller.js"></script>
    <script src="javascripts/model.js"></script>
    <script src="javascripts/draw.js"></script>
    <script src="javascripts/mazec.js"></script>
    <script src="/jquery/jquery.js"></script>
  <head>
  <body onload="initEvents();">
    <label>Tipo de Juego</label>
    <select id="tjuego"/>
      <option value="0">Remoto</option>
      <option value="1">Local</option>
    </select>
    <label>Dificultad</label>
    <select id="dificultad"/>
      <option value="7">Fácil</option>
      <option value="16">Medio</option>
      <option value="22">Difícil</option>
      <option value="30">Boss</option>
    </select>
    <button id="mazeG">Generar Maze</button>
    <br>
    <br>
    <canvas id="canvas">
    </canvas>
    <button id="mazeSolve">Generar Solucion</button>
    <button id="saveLocal">Guardar Local</button>
    <button id="recovery">Recuperar Maze</button>
  <body>
</html>
